<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/usersf" method="post">

        <input type="text" name="first_name" placeholder="First Name">
        <br>
        <input type="text" name="last_name" placeholder="Last Name">
        <br>
        <input type="text" name="email" placeholder="Email">
        <br>

        <button type="submit">Create</button>
    </form>

    <a href="/user">DISPLAY ALL</a>

</body>

</html>