<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loggedin</title>
</head>

<body>
    <h1>Hello {{logged_user.first_name}}</h1>
    <button type="logout" class="btn btn-warning">logout</button>
    <form action="/" method="post">
        <input type="submit" value="Logout">
    </form>
<form action="/logout" method="post" class="form">

    <button type="submit" class="btn btn-warning">logout</button>
</form>
</body>

</html>